<!-- src/views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue + Express + EJS</title>
</head>
<body>
  <div id="app"></div>
  <!-- Include Vue.js bundle -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script type="module" src="/js/app.js"></script>
  {{ records[0].recordId }}
</body>
</html>
